<head>
  <title>Home</title>
</head>

<div id = "wrapper">
  <div id="contents">
    <div id ="welcomeText">
      <h1>Welcome!</h1>
      <div id="search">
          <input type="text" name="search" placeholder="  search">
          <input type="image" src="https://static.thenounproject.com/png/101791-200.png" width="20px" name="saveForm" class="btTxt submit" id="saveForm" />
        </div>
      <br>
    </div>

    <div id="product">
      <p>Check Out our New Arrivals!</p>

        <ul [@listStagger] = "product$">
          <li *ngFor="let product of product$">
              <a  routerLink="'/products'"> {{ product.name }}</a>
              <!-- ${} -->
          </li>
        </ul>


    </div>

  </div>
</div>
