<head>
  <title>Home</title>
</head>

<div id = "wrapper">
  <div id="contents">

    <div id ="welcomeText">
      <h1>Welcome!</h1>
      <div id="serachbar">
          <input type="text" name="toSearch">
          <input type="submit" value="Search">
      </div>
    </div>

    <div id="product">
      <p>Check Out our New Arrivals!</p>

        <ul [@listStagger] = "product$">
          <li *ngFor="let product of product$">
              <a  routerLink="'/products'"> {{ product.name }}</a>
              <!-- ${} -->
          </li>
        </ul>


    </div>

  </div>
</div>
