
  <head>
      <title>Checkout</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>

      <main class="payment-form dark">
        <section class="payment-form dark">
          <div class="container">
            <div class="block-heading">
              <h2>Payment</h2>
              <p>Carefully review your order and enter your payment information.</p>
            </div>
            <form>
              <div class="products" class= "text-dark">
                <h3 class="title">Checkout</h3>
                <div class="item" *ngFor= "let item of data.cartObject; let i=index;" >
                  <p class="item-name"><img width=100px src='{{item.image.images}}'></p>
                  <p class="item-name">{{item.name}}</p>
                  <p class="item-description">{{item.description["description"]}}</p>
                  <span class="price">Item Price: ${{item.payment}} X </span>
                  <input [(ngModel)]="item.quant"  name = "quantity" type="number" min="1" max="5" (ngModelChange)= "setCost(item.id,item.payment*item.quant)" >
                  <span class="price" [(ngModel)]="cumPrice"  [ngModelOptions]="{standalone: true}"  > = ${{ item.payment*item.quant }}</span>
                  <br>
                  <br>
                  <button type="button" class="btn btn-danger btn-sm">Remove</button>
                </div>
                <br>
                <div class="form-group col-sm-12">
                  <button type="button"  class="btn btn-primary btn-block" (click) = "calculate()">Update</button>
                  <div class="total">Total <span class="price" >${{tot}}</span></div>
                </div>
              </div>
              <div class="card-details">
                <h3 class="title">Credit Card Details</h3>
                <div class="row">
                  <div class="form-group col-sm-7">
                    <label for="card-holder">Card Holder</label>
                    <input id="card-holder" type="text" class="form-control" placeholder="Card Holder" aria-label="Card Holder" aria-describedby="basic-addon1">
                  </div>
                  <div class="form-group col-sm-5">
                    <label for="">Expiration Date</label>
                    <div class="input-group expiration-date">
                      <input type="text" class="form-control" placeholder="MM" aria-label="MM" aria-describedby="basic-addon1">
                      <span class="date-separator">/</span>
                      <input type="text" class="form-control" placeholder="YY" aria-label="YY" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="card-number">Card Number</label>
                    <input id="card-number" type="text" class="form-control" placeholder="Card Number" aria-label="Card Holder" aria-describedby="basic-addon1">
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="cvc">CVC</label>
                    <input id="cvc" type="text" class="form-control" placeholder="CVC" aria-label="Card Holder" aria-describedby="basic-addon1">
                  </div>
                  <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-success btn-block">Place Order</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
      </main>
