#content{
  text-align: center;
  margin: auto;
}

.ProdName{
  text-align: left;
}

#ProdList{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#search{
}

#subtotal{
  float: right;
}

#cancel{
  background-color: pink;
}
