<head>
    <title>Check Out</title>
  </head>


  <div id="summary">
      <h1 id="summaryText" style="text-align:center">Summary</h1>
  </div>


  <div id="total" style="text-align:center">
      <img src="https://bkstr.scene7.com/is/image/Bkstr/6-66-1B--1P-1-Brown-Pink?$GMCategory$">
      <p>CSUMB Teddy Bear (Pink)</p>
      <p> Quantity: </p>
      <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      <p>Total: $25.00</p>
  </div>
  <button type="button">Confirm</button>
