nav {
  background-color: #2D2E2E;
  width:100%;

  display:flex;

  ul {
      display: flex;
      padding: 0;
      margin: auto;
      list-style-type: none;

      li {
        float: left;

          a {
              color: #fff;
              padding: 8px;
              display: block;
          }

          .activated {
              background-color: #00a8ff;
          }
      }
  }

}
