<div id="content">
      <div id="logo-image" width=300%>
        <div id= "inner-div">
            <img src="src\app\otterSurf.png" width= 15%/>
        </div>
      </div>
      <br>
      <h2><div id="product-sq">
      <div id= "product-inner">Products</div>
      </div></h2>
      <hr>
      <div id="products">

        <table id="ProdList" class="table" [@listStagger] = "product$">
          <tr class="product" *ngFor="let product of product$">
            <td>
                <img src='{{ product.image["images"] }}' width="90px">
            </td>
            <td>
              <h3 class=ProdName>{{ product.name }}</h3>
              <p>{{ product.description["description"] }}</p>
            </td>
            <td>
              <h5>$Price</h5>
              <h6>In Stock: {{ product.stockNum}}</h6>
            </td>
            <td>
              <br>
              <img src="https://png.icons8.com/windows/1600/add-shopping-cart.png" width="30px">
              <h4>{{ product.price }}</h4>
            </td>
            <td id="seeMore">
              <br>
              <a routerLink="/product-expanded/{{product.id}}">
                  <i class="material-icons">expand_more</i>
                </a>
            </td>
          </tr>
        </table>
        <hr>
      </div>
  </div>
