<div id="content">
      <div id="search">
        <input type="text" name="search" placeholder="  search">
        <input type="image" src="https://static.thenounproject.com/png/101791-200.png" width="20px" name="saveForm" class="btTxt submit" id="saveForm" />
      </div>
      <br>
      <h2>Products</h2>
      <hr>
      <div id="products">

        <table id="ProdList" class="table" [@listStagger] = "product$">
          <tr class="product" *ngFor="let product of product$">
            <td>
                <img src='{{ product.image["images"] }}' width="90px">
            </td>
            <td>
              <h3 class=ProdName>{{ product.name }}</h3>
              <p>{{ product.description["description"] }}</p>
            </td>
            <td>
              <h5>${{product.payment}}</h5>
              <h6>In Stock: {{ product.stockNum}}</h6>
            </td>
            <td>
              <br>
              <img src="https://png.icons8.com/windows/1600/add-shopping-cart.png" width="30px">
            </td>
            <td id="seeMore">
              <br>
              <a routerLink="/product-expanded/{{product.id}}">
                  <i class="material-icons">expand_more</i>
                </a>
            </td>
          </tr>
        </table>
        <hr>
      </div>
  </div>
