#content{
  text-align: center;
  margin: auto;
}

#ProdList{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#seeMore{
  background-color: #6a9ef2;
}

#logo-image{

}
// #product-sq{
//   margin: auto;
//   width: 100%;
//   padding: 10px;
//   background: #6a9ef2;
//   text-align: center;
//   opacity: .3;
// }

#product-inner {
  opacity: 1;
}
