#content{
  text-align: center;
  margin: auto;
}

#ProdList{
  background-color: #f6f6f631;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#seeMore{
  background-color: #6a9ef2;
}
