<div id="content">
      <br>
      <h2>Products</h2>
      <hr>
      <div id="products">

        <table id="ProdList" class="table" [@listStagger] = "product$">
          <tr class="product" *ngFor="let product of product$">
            <td>
                <img src='{{ product.image["images"] }}' width="90px">
            </td>
            <td>
              <h3 class=ProdName>{{ product.name }}</h3>
              <p>{{ product.description["description"] }}</p>
            </td>
            <td>
              <h5>${{product.payment}}</h5>
              <h6>In Stock: {{product.stockNum}}</h6>
            </td>
            <td>
              <br>
              <img id="cart" src="https://png.icons8.com/windows/1600/add-shopping-cart.png" (click)="addOneToCart(product.id)" width="30px">
            </td>
            <td>
              <br>
              <a routerLink="/product-expanded/{{product.id}}" >
                  <i class="material-icons text-dark" ><strong>expand_more</strong></i>
                </a>
            </td>
          </tr>
        </table>
        <hr>
      </div>
  </div>
