<div id="content">
      <input type="text" name="search" placeholder="  search">
      <input type="submit" value="Search">
      <br>
      <h2>Products</h2>
      <hr>
      <div id="products">
        <table id="ProdList">
          <tr class="product">
            <td>
                <img src="https://openclipart.org/image/300px/svg_to_png/194077/Placeholder.png" width="90px">
            </td>
            <td>
              <h3 class=ProdName>Product Name</h3>
              <p>Hello this is basic placeholder text</p>
            </td>
            <td>
              <img src="https://png.icons8.com/windows/1600/add-shopping-cart.png" width="30px">
              <h4>Price</h4>
            </td>
          </tr>
        </table>

        <!-- <ul [@listStagger] = "product$">
          <li *ngFor="let product of product$">
              <a  [routerLink]="['/products/{}']">${route-text}</a>
              ${}
          </li>
        </ul> -->
      </div>
  </div>
