<div id="content">
      <input type="text" name="search" placeholder="  search">
      <input type="submit" value="Search">
      <br>
      <h2>Products</h2>
      <hr>
      <div id="products">
        <table id="ProdList" [@listStagger] = "product$">
          <tr class="product" *ngFor="let product of product$">
            <td>
                <img src='{{ product.image["images"] }}' width="90px">
            </td>
            <td>
              <h3 class=ProdName>{{ product.name }}</h3>
              <p>{{ product.description["description"] }}</p>
            </td>
            <td>
              <img src="https://png.icons8.com/windows/1600/add-shopping-cart.png" width="30px">
              <h4>{{ product.price }}</h4>
            </td>
          </tr>
        </table>
      </div>
  </div>
