<nav class= "nav-main">
  <ul>
    <li>
      <a routerLink="home" [class.activated]="currentUrl == '/home'">
        <i>Home</i>
      </a>
    </li>
    <li>
      <a routerLink="products" [class.activated]="currentUrl == '/products'">
        <i>Products</i>
      </a>
    </li>
    <li>
      <a routerLink="checkout" *ngIf="logged" [class.activated]="currentUrl == '/checkout'">
        <i>Cart</i>
      </a>
    </li>
    <li *ngIf='!logged'>
      <a routerLink="/login" id="login" [class.activated]="currentUrl == '/login'" >Login</a>
    </li>
    <li *ngIf="logged">
        <a routerLink="/home" (click)="logout()"  id="login"  >Logout</a>
    </li>
  </ul>
</nav>
