nav {
  background-color: #2D2E2E;
  width:100%;

  display:flex;

  ul {
      display: flex;
      padding: 0;
      margin: auto;
      list-style-type: none;

      li {
        float: left;

          a {
              color: #fff;
              padding: 8px;
              display: block;
          }

          .activated {
              background-color:#99ebff;
              color: black;
          }
      }
  }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {

    background-color: #ccf5ff !important;
    background-repeat: repeat-x;
    background-image: linear-gradient(#edf6fb, #008fb3);
    border-color: #000;
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.59);
   }
   .btn-info {
    background-color: #99ebff !important;
   }

}
