<nav class= "nav-main">
  <ul>
    <li>
      <a id="logo">OtterBuy</a>
    </li>
    <li>
      <a routerLink="home" [class.activated]="currentUrl == '/home'">
        <i class="material-icons">home</i>
      </a>
    </li>
    <li>
      <a routerLink="products" [class.activated]="currentUrl == '/products'">
        <i class="material-icons">book</i>
      </a>
    </li>
    <li>
      <a routerLink="cart" [class.activated]="currentUrl == '/cart'">
        <i class="material-icons">shopping_cart</i>
      </a>
    </li>
    <li>
      <a routerLink="/confirmation" [class.activated]="currentUrl == '/confirmation'">
        <i class="material-icons">confirm</i>
      </a>
    </li>
    <li *ngIf='!logged'>
        <a><button routerLink="" type="button" class="btn btn-info btn-sm" id="login" >Login</button></a>
    </li>
    <li *ngIf="logged">
      <a><button routerLink="/home" (click)="logout()" type="button" class="btn btn-danger btn-sm" id="login" >Logout</button></a>
    </li>
  </ul>
</nav>
