#content{
  text-align: center;
  margin: auto;
}

.ProdName{
  text-align: left;
}

#ProdList{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 30px
}

.product{
}

#subtotal{
  float: right;
}
