#login {
  float: right;
}

#welcomeText {
  float:clear;
}

#wrapper{
  text-align: center;
}
// Carousel Functionality
.container {
  padding: 0px;
  margin-bottom: 2%;
}

img{
  border-radius: 5%;
}
