<head>
  <title>Home</title>
</head>

<div id = "wrapper">
  <div id="contents">
    <div id ="welcomeText">
      <h1>Welcome!</h1>
      <p>Coming Soon!</p>
      <br>
    </div>

    <ngb-carousel class="text-center container noselect" [showNavigationArrows]="true" [showNavigationIndicators]="true" *ngIf="images">
        <ng-template ngbSlide *ngFor="let image of images">
          <img class='img-main-carousel' [src]="image" height="500px" width="500px">
          <div class="carousel-caption">
            <h3></h3>
            <button [routerLink]="['/products']" class="btn btn-info">See our Products</button>
          </div>
        </ng-template>
      </ngb-carousel>

  </div>
</div>
